.benefit {
  margin-top: 47px;
  display: flex;
  align-items: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 118px));
    grid-column-gap: 41px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 118px;
    box-shadow: 0px 4px 4px $gray-1;
    border-radius: 10px;
    padding: 21px 0 26px;
    opacity: 0;
  }

  &__img {
    width: 33px;
    height: 33px;
    margin: 0 auto 22px;
  }

  &__txt {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }

  &--simple {
    margin-top: 52px;

    .benefit {
      &__items {
        display: block;
      }

      &__item {
        padding: 0;
        box-shadow: none;
        flex-direction: row;
        height: auto;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 43px;
        }

        &:nth-child(2) {
          margin-bottom: 37px;
        }
      }

      &__img {
        margin: 0;
        height: auto;
        margin-right: 13px;
      }

      &__txt {
        font-size: 16px;
        width: 268px;
        text-align: left;
      }
    }
  }
}
