.company-about {
  margin-bottom: 145px;

  &__container {
    background: url(../img/bg-about.png) no-repeat 93% 256%;
    padding-bottom: 92px;
  }

  &__quote {
    font-size: 18px;
    font-weight: 700;
    max-width: 542px;
    width: 100%;
    margin-bottom: 20px;
    opacity: 0;
  }

  &__txt {
    max-width: 473px;
    width: 100%;
    font-size: 12px;
    opacity: 0;
  }

  h2 {
    opacity: 0;
    margin-bottom: 26px;

    &:after {
      width: 75px;
    }
  }
}
