.list {
  li {
    position: relative;
    font-weight: 700;
    font-size: 15px;
    padding-left: 40px;
    max-width: 309px;
    width: 100%;
    opacity: 0;

    &:not(:first-child) {
      margin-top: 21px;
    }

    &:after {
      position: absolute;
      content: "";
      width: 22px;
      height: 22px;
      background-image: url("../img/ic-ok.svg");
      bottom: 0;
      margin: auto;
      left: -2px;
      top: -4px;
    }
  }
}
